/Java-nonsense/reto1/reto1/nbproject/private/
/Java-nonsense/reto1/ClaseRectangulo/nbproject/private/
/Java-nonsense/Reto2/RetoNomina/nbproject/private/
/Java-nonsense/Reto2/RetoNomina/build/
/Java-nonsense/Reto2/RetoNomina/dist/
